<!doctype html>
<html lang="">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= appName %></title>

		<link rel="icon" href="/img/logo.svg" />
		<link rel="apple-touch-icon" href="/img/logo.svg" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400..700;1,400..700&display=swap"
			rel="stylesheet" />

		<meta name="application-name" content="<%= appName %>" />
		<meta
			name="description"
			content="Ezbill is a simple bill splitting app that allows users to split bills with friends and family." />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="/img/logo.svg" />
		<meta property="og:title" content="Meta Tags — Preview, Edit and Generate" />
		<meta
			property="og:description"
			content="Ezbill is a simple bill splitting app that allows users to split bills with friends and family." />
		<meta property="og:image" content="/img/logo.svg" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="/img/logo.svg" />
		<meta property="twitter:title" content="Meta Tags — Preview, Edit and Generate" />
		<meta
			property="twitter:description"
			content="Ezbill is a simple bill splitting app that allows users to split bills with friends and family." />
		<meta property="twitter:image" content="/img/logo.svg" />
	</head>
	<body>
		<div id="app"></div>
		<script type="module" src="/src/main.ts"></script>
	</body>
</html>
