@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family:
			'Inter',
			-apple-system,
			Arial,
			sans-serif;
	}

	body {
		@apply bg-base-100;
	}
}

* ::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

* ::-webkit-scrollbar-track {
	width: 4px;
	height: 4px;
	background-color: transparent;
}

* ::-webkit-scrollbar-thumb {
	@apply bg-neutral-400 border-none rounded-lg;
}

.Vue-Toastification__toast {
	max-width: 400px;
	margin: 0 auto;
}

.input,
.select,
.textarea {
	background-color: #fff;
}

html:has(.modal[open]) {
	scrollbar-gutter: auto !important;
}

details > summary::-webkit-details-marker {
	display: none;
}

details > summary {
	list-style: none;
}

.is-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
