@import 'tailwindcss';

html {
	font-size: 14px;
	font-family:
		'Open Sans',
		-apple-system,
		Arial,
		sans-serif;
	line-height: normal;
}

* ::-webkit-scrollbar {
	width: 8px;
}

* ::-webkit-scrollbar-track {
	width: 8px;
	background-color: transparent;
}

* ::-webkit-scrollbar-thumb {
	@apply bg-neutral-400 border-none rounded-lg;
}
